/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display:flex;
  justify-content: space-between;
 align-items: center;
}


/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
margin-right:20px;
}


/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

.about-section {
  text-align: center; /* Center the content within the section */
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between image and text */
}

.profile img {
  width: 150px; /* Adjust image width */
  height: auto;
  border-radius: 50%; /* Display the image in a circular shape */
}

.intro-text {
  text-align: left;
  max-width: 400px; /* Adjust the maximum width of the text container */
}

#portfolio {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px; /* Adjust the spacing between projects */
}

.project {
  flex: 0 0 auto;
  width: calc(33.33% - 20px); /* Adjust project width with gap */
  text-align: center;
}

.project img {
  max-width: 100%;
  height: auto;
}

.project p {
  font-size: 14px; /* Set the font size for project descriptions */
}
